@charset "UTF-8";

.ID {margin-right:52px;}
.SaveID{margin-left:70px;}
.Cust > label{margin-left:30px;}
.Guest > label{margin-left:50px;}

form{border:1px solid #ccc; width:550px; }
h2{color:red;}
