<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ModifyMapper">
<select id="selectModify" parameterType="String" resultType="member">
select *
from ob_member
<where>
CUST_ID=#{value}
</where>
</select>

 <update id="updateModify" parameterType="member">
 UPDATE ob_member SET cust_pw=#{custPw}, cust_post=#{custPost}, cust_addr=#{custAddr} ,cust_tel=#{custTel}
 WHERE cust_id=#{custId}
 </update>

</mapper>