<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ProductMapper">
<select id="selectByMainCate" parameterType="String" resultType="product">
select *
from OB_PRODUCT
<where>
MAIN_CATE=#{value}
</where>
</select>
<select id="selectById" parameterType="String" resultType="product">
select *
from OB_PRODUCT
<where>
PROD_ID=#{value}
</where>
</select>
</mapper>