<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ProductMapper">

<!-- <select id="selectAll" parameterType="HashMap" resultType="comment"> -->
<!-- select * from comment_tab -->

<!-- <where> -->
<!-- 	<if test="cId != null"> -->
<!-- 		comment_no = #{cId} -->
<!-- 	</if> -->
<!-- </where> -->
<!-- </select> -->


<select id="selectByMainCate" parameterType="HashMap" resultType="ObProduct">
select *
from OB_PRODUCT
<where>
<if test="mainCate != null">
  #{mainCate}
  </if>
  </where>
</select>

</mapper>