<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ProductMapper">
	<select id="selectByMainCate" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value}
		</where>
	</select>

	<select id="selectById" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			PROD_ID=#{value}
		</where>
	</select>

	<select id="selectTotalCount" parameterType="String" resultType="String">
		select count(*) totalCount
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value}
		</where>
	</select>

	<select id="selByMainCateOrderByNew" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value}
		</where>
		order by release_date
	</select>

	<select id="selByMainCateOrderByPopular" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value}
		</where>
		order by read_num
	</select>

	<select id="selByMainCateOrderByLow" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value}
		</where>
		order by prod_price
	</select>

	<select id="selByMainCateOrderByHigh" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value}
		</where>
		order by prod_price desc
	</select>

	<select id="runningShoesOrderByNew" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='러닝화'
		</where>
		order by release_date
	</select>

	<select id="runningShoesOrderByPopular" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='러닝화'
		</where>
		order by read_num
	</select>

	<select id="runningShoesOrderByLow" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='러닝화'
		</where>
		order by prod_price
	</select>

	<select id="runningShoesOrderByHigh" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='러닝화'
		</where>
		order by prod_price desc
	</select>

	<select id="runningShoes" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='러닝화'
		</where>
	</select>

	<select id="walkingShoesOrderByNew" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='워킹화'
		</where>
		order by release_date
	</select>

	<select id="walkingShoesOrderByPopular" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='워킹화'
		</where>
		order by read_num
	</select>

	<select id="walkingShoesOrderByLow" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='워킹화'
		</where>
		order by prod_price
	</select>

	<select id="walkingShoesOrderByHigh" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='워킹화'
		</where>
		order by prod_price desc
	</select>

	<select id="walkingShoes" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='워킹화'
		</where>
	</select>

	<select id="soccerShoesOrderByNew" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='축구화'
		</where>
		order by release_date
	</select>

	<select id="soccerShoesOrderByPopular" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='축구화'
		</where>
		order by read_num
	</select>

	<select id="soccerShoesOrderByLow" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='축구화'
		</where>
		order by prod_price
	</select>

	<select id="soccerShoesOrderByHigh" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='축구화'
		</where>
		order by prod_price desc
	</select>

	<select id="soccerShoes" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='신발' and detail_cate='축구화'
		</where>
	</select>

	<select id="tShirtOrderByNew" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='티셔츠'
		</where>
		order by release_date
	</select>

	<select id="tShirtOrderByPopular" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='티셔츠'
		</where>
		order by read_num
	</select>

	<select id="tShirtOrderByLow" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='티셔츠'
		</where>
		order by prod_price
	</select>

	<select id="tShirtOrderByHigh" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='티셔츠'
		</where>
		order by prod_price desc
	</select>

	<select id="tShirt" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='티셔츠'
		</where>
	</select>

	<select id="mtmOrderByNew" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='맨투맨'
		</where>
		order by release_date
	</select>

	<select id="mtmOrderByPopular" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='맨투맨'
		</where>
		order by read_num
	</select>

	<select id="mtmOrderByLow" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='맨투맨'
		</where>
		order by prod_price
	</select>

	<select id="mtmOrderByHigh" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='맨투맨'
		</where>
		order by prod_price desc
	</select>

	<select id="mtm" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='맨투맨'
		</where>
	</select>

	<select id="jacketOrderByNew" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='자켓'
		</where>
		order by release_date
	</select>

	<select id="jacketOrderByPopular" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='자켓'
		</where>
		order by read_num
	</select>

	<select id="jacketOrderByLow" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='자켓'
		</where>
		order by prod_price
	</select>

	<select id="jacketOrderByHigh" parameterType="String"
		resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='자켓'
		</where>
		order by prod_price desc
	</select>

	<select id="jacket" parameterType="String" resultType="product">
		select *
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and SUB_CATE='의류' and detail_cate='자켓'
		</where>
	</select>

	<select id="runningTotalCount" parameterType="String"
		resultType="String">
		select count(*) totalCount
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and detail_cate='러닝화'
		</where>
	</select>

	<select id="walkingTotalCount" parameterType="String"
		resultType="String">
		select count(*) totalCount
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and detail_cate='워킹화'
		</where>
	</select>

	<select id="soccerTotalCount" parameterType="String" resultType="String">
		select count(*) totalCount
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and detail_cate='축구화'
		</where>
	</select>

	<select id="tshirtTotalCount" parameterType="String" resultType="String">
		select count(*) totalCount
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and detail_cate='티셔츠'
		</where>
	</select>

	<select id="mtmTotalCount" parameterType="String" resultType="String">
		select count(*) totalCount
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and detail_cate='맨투맨'
		</where>
	</select>

	<select id="jacketTotalCount" parameterType="String" resultType="String">
		select count(*) totalCount
		from OB_PRODUCT
		<where>
			MAIN_CATE=#{value} and detail_cate='자켓'
		</where>
	</select>

	<update id="updateReadNum" parameterType="String" >
		update OB_PRODUCT
		SET
		READ_NUM = READ_NUM+1
		WHERE PROD_ID=#{value}
	</update>

</mapper>