<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OldBalance</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
<servlet>
	<servlet-name>Register</servlet-name>
	<servlet-class>mvc.oldBalance.control.RegisterControl</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Register</servlet-name>
	<url-pattern>/Register</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Product</servlet-name>
	<servlet-class>mvc.oldBalance.control.ProductControl</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Product</servlet-name>
	<url-pattern>/Product</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Order</servlet-name>
	<servlet-class>mvc.oldBalance.control.OrderControl</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Order</servlet-name>
	<url-pattern>/Order</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>MyPage</servlet-name>
	<servlet-class>mvc.oldBalance.control.MyPageControl</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>MyPage</servlet-name>
	<url-pattern>/MyPage</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Modify</servlet-name>
	<servlet-class>mvc.oldBalance.control.ModifyControl</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Modify</servlet-name>
	<url-pattern>/Modify</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Main</servlet-name>
	<servlet-class>mvc.oldBalance.control.MainControl</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Main</servlet-name>
	<url-pattern>/Main</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ObControl</servlet-name>
	<servlet-class>mvc.oldBalance.control.OldBalanceControl</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ObControl</servlet-name>
	<url-pattern>/ObControl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Upload</servlet-name>
<servlet-class>mvc.oldBalance.control.FileUploadServlet</servlet-class>
<multipart-config>
<location>C:\\yoonks\\webwork\\OldBalance_cp\\WebContent\\OldBalance\\temp</location>
<file-size-threshold>1024</file-size-threshold>
</multipart-config>
</servlet>
<servlet-mapping>
<servlet-name>Upload</servlet-name>
<url-pattern>/Upload</url-pattern>
</servlet-mapping>

</web-app>