@charset "utf-8";
@import url('main.css');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; outline:0;text-decoration:none; }
body {min-width:1200px}/*원래320 모바일 할때*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none;}
table {border-collapse:collapse;border-spacing:0;}
body, input, textarea, select, button, table {font-family:'Nanum Gothic','Roboto','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;-webkit-text-size-adjust:none;}
ul, ol, li {list-style-type:none;}
input, select {vertical-align:middle;}
a {text-decoration:none; color:#555}
.hidden {display:none;}/*구분선*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }


/* [공통]버튼,인풋,셀렉트 */
input[type="text"] {width:80%; border:1px solid #ddd;}
input[type="text"]::-webkit-input-placeholder {color:#a7a7a7;}
input[type="text"]:-input-placeholder {color:#a7a7a7;}
input[type="text"]:-ms-input-placeholder {color:#a7a7a7;}
input[type="text"]::-moz-input-placeholder {color:#a7a7a7;}

input[type="password"] {width:100%; border:1px solid #ddd;}
input[type="password"]::-webkit-input-placeholder {color:#a7a7a7;}
input[type="password"]:-input-placeholder {color:#a7a7a7;}
input[type="password"]:-ms-input-placeholder {color:#a7a7a7;}
input[type="password"]::-moz-input-placeholder {color:#a7a7a7;}

textarea {width:100%; border:1px solid #ddd;}
textarea::-webkit-input-placeholder {color:#a7a7a7;}
textarea:-input-placeholder {color:#a7a7a7;}
textarea:-ms-input-placeholder {color:#a7a7a7;}
textarea::-moz-input-placeholder {color:#a7a7a7;}
select {width:100% ;height:40px; padding:0 15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box; background:#fff url('../image/arrow1.png') no-repeat right 50%; border:1px solid #ddd; color:#555;font-size:16px;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;}
select::-ms-expand{display: none;}