@charset "UTF-8";

.post{
	height:200px;
	overflow:auto;
	border:1px solid green;
}

#searchAddr {
	width:200px;
	margin: 0 10px;
    float: left;
}

#radio {
	margin-left:10px;
}
td{
	text-align:center;
}