@charset "UTF-8";


#productMG{width:100%;}
#productMG_wrap{width:1000px; margin:0 auto;}

#productMG_wrap input[type=text]{width:100%;}
#InventCode{margin-bottom:10px;}
#InventCode input[type=text]{width:100px; margin-bottom:10px;}
.code input{width:50%;}
.btn_search{}
.btn_search{background:#d9534f; border:1px solid #d43f3a; color:#fff; border-radius:5px 5px 5px 5px; padding:2px 10px 2px 10px; margin-left:5px;}
p{color:#555;}

table{border:1px solid #ccc; margin-bottom:20px;}
th{border:1px solid #ccc; text-align:center;}
td{border:none; text-align:center;}
.btn_wrap{float:right; padding-top:10px;}