@charset "UTF-8";


li{list-style:none;}

.post_check li .tel{width:100px;}
section{width:100%;}
#modify{width:1000px; margin:0 auto;}
.mymodify{width:500px; margin:0 auto;}
.pa_check{width:500px; margin: 0 auto;}